/** {
    outline: 2px solid red;
}*/
html {
    scroll-behavior: smooth;
}
/*====PC-FULL====*/
@media only screen and (min-width: 1025px) {
body {
    margin: 0 0 0 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', sans-serif;
    color: black;
    text-transform: capitalize;
}
h2, h5 {
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 250%;
    text-align: center;
    padding-top: 11px;
    margin: 0;
}
h2 {
    font-size: 220%;
    width: 23vw;
    margin: 4vw 0 4vw 0;
}
h3 {
    text-align: left;
    margin: 0;
    padding: 1em 0 0.5em 1em;
}
h4 {
    display: inline-block;
    text-align: left;
    font-size: 1.5em;
    margin: 0;
    margin-top: auto;
    padding: 0 0 0.25em 1em;
    grid-column-start: 2;
    grid-column-end: span 2;
}
h5 {
    /*font-size: 220%;
    min-width: 30vw;*/

    display: inline-block;
    font-size: 220%;
    padding-top: 1vh;
    margin-bottom: 2px;
    width: 23vw;
}
h6 {
    display: inline-flex;
    font-size: 1.18vw;
    margin: 1vw 0.5vw 0.3vw 0.5vw;
}
ul {
    display: block;
    padding: 0 1em 1em 3em;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    margin: 0;
    grid-column-start: 2;
}
li {
    padding: 0 1em 1em 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    margin: 0 0 0 3em;
}
img {
    object-fit: contain;
}
.container {
    background-color: #D1D2D4;
    /*height: 100vh;
    width: 100vw;*/
    /*overflow-y: scroll;*/
    scroll-behavior: smooth;
    overflow-x: hidden;
}
p {
    font-family: 'Exo 2', sans-serif;
    /*font-size: 0.8em;*/
    /*font-size: 1.095vw;*/
    font-size: 14.25px;
    margin: 0 0 1.5vw 0;
}
a {
    text-decoration: none;
    width: inherit;
    height: inherit;
    align-content: center;
    color: black;
}
/*a:active {
    /*color: blue;*/
    /*background: -webkit-linear-gradient(45deg, rgb(93, 117, 250), rgb(10, 13, 165));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s;
}*/
/* =======================================================*/
/*------------Header, Title, Navigation-------------------*/
/*========================================================*/
#header {
    display: grid;
    position: fixed;
    background-color: white;
    /*justify-content: center;*/
    box-shadow: 0 0 2em black;
    grid-template-columns: 14vw 12vw 12vw 12vw 12vw 12vw 12vw 14vw;
    grid-template-rows: 63px 44px;
    z-index: 3;
    min-height: 107px;
    /*top: 0;*/
}
#nmsu {
    display: grid;
    /*min-height: 90px;*/
    /*align-content: center;*/
    justify-items: center;
    grid-row-start: 1;
    grid-row-end: span 2;
    /*z-index: 2;*/
}
#top {
    height: 63px;
    z-index: 1;
    grid-column-end: span 6;
}
.menuClosed {
    display: flex;
    margin: 0;
    padding: 0;
    grid-column-start: 2;
    grid-column-end: span 6;
    grid-row-start: 2;
    grid-row-end: span 1;
}
nav:hover {
    background-color:whitesmoke;
    /*transition: all 0.3s;*/
}
.button {
    font-family: 'Darker Grotesque', sans-serif;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    color: black;
    grid-row-start: 2;
    grid-row-end: span 1;
    z-index: 2;
    width: 12vw;
    height: 44px;
}
.button a {
    display: grid;
}
.button a::before {
    width: 2px;
    color: darkgray;
    margin: 4px;
    margin-left: 5.4vw;
    border: 2px solid darkgray;
    border-left: 4px solid darkgray;
    border-right: none;
    content: "";
    height: 18px;
    position: absolute;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.13, 1.18, 0.7, 0.84);
}
.button a:hover::before {
    width: 5px;
    height: 32px;
    margin: 4px 0;
    opacity: 0.8;
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}
.button a::after {
    width: 2px;
    color: darkgray;
    margin: 4px;
    margin-left: 5.4vw;
    border: 2px solid darkgray;
    border-right: 4px solid darkgray;
    border-left: none;
    content: "";
    height: 18px;
    position: absolute;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.13, 1.18, 0.7, 0.84);
}
.button a:hover::after {
    width: 5px;
    height: 32px;
    margin: 4px 0 4px 11.35vw;
    opacity: 0.8;
    transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}
/*#nav_container {
    display: flex;
    grid-column-start: 2;
    grid-column-end: span 11;
    grid-row-start: 2;
}
#top h1.fade::after {
    width: 100%
}*/

.nmsuBIO {
    display: grid;
    /*position: absolute;*/
    justify-items: center;
    align-content: center;
    max-width: 100%;
    min-width: 110px;
    /*max-height: 80px;*/
    min-height: 95px;
    /*grid-column-start: 13;*/
    grid-row-end: span 2;
    z-index: 3;
}
#mobileMenu {
    display: none;
}
/*.menuClosed {
    display: none;
}*/

/* =======================================================*/
/*-----------General/ Main content Elements---------------*/
/*========================================================*/

.wrapper {
    display: grid;
    position: relative;
    min-width: 70vw;
    /*grid-template-columns: 1fr 40vw 30vw 1fr;*/
    grid-template-columns: 1fr 70vw 1fr;
    /*grid-template-rows: 67vh 67vh;*/
    z-index: 1;
}
.scroll_area {
    display: inline-grid;
    position: relative;
    height: auto;
    /*overflow: hidden;*/
    grid-column-start: 2;
    z-index: 1;
}

/* =======================================================*/
/*--------------Welcome Section---------------------------*/
/*========================================================*/

#foster {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 107px;
    margin-right: -4vw;
    max-height: 560px;
}
#welcome {
    display: block;
    position: relative;
    width: 70vw;
    max-height: 600px;
    /*min-height: 550px;*/
    /*margin: -107px 0 0;*/
    padding: 107px 0 0;
    background-color: white;
    z-index: 6;
    overflow: hidden;
}
#welcome h2, #publications h2 {
    width: 23vw;
    margin-bottom: 2vw;
}
.welcomeSub {
    display: block;
    position: relative;
    padding: 0 1vw 0.7em;
    max-height: 550px;
    min-height: 550px;
    min-width: 40vw;
    max-width: 40vw;
    background-color: white;
    z-index: 2;
}
article li {
    overflow: hidden;
    display: block;
    font-size: 12px;
}
.intro {
    display: block;
    position: relative;
    float: left;
    margin: 3.5vw 1.5em 0 1em;
    padding-top: 2em;
    /*margin-left: 1em;
    margin-top: 1em;*/
    height: 280px;
}
figcaption {
    line-height: 0.75em;
    padding-top: 0.1vh;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 0.8em;
    color: dimgray;
}
@media only screen and (max-width:1290px) {
    #introPic {
        display: none !important;
    }
    .welcomeSub {
        padding: 12px 2vw 1em;
    }
    #welcome h2 {
        width: 100%;
        max-width: 100%;
    }
    #foster {
        right: -55px;
    }
    article {
        float: inline-end !important;
        margin-top: 4.5vw;
        /*transition: all 150ms ease;*/
        background-color: whitesmoke;
        padding-bottom: 20px;
    }
    #leuc01 {
        left: -20vw;
    }
}
.welcomeText {
    display: block;
    position: relative;
    /*font-size: 1.095vw;*/
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0 1em 0 0;
}
article {
    /*display: inline-block;*/
    /*margin-top: 2vw;*/
    float: inline-start;
}
article h3 {
    text-align: left;
    font-family: 'Exo', sans-serif;
    color: black;
    margin: 0;
    padding: 1em 0 0.3em 1em;
}
#topNewsClone #topNews {
    padding-left: 1em;
}
.newsLink {
    padding: 0 0 0 1.5em;
    font-size: 0.9em;
    font-family: 'Exo 2', sans-serif;
    text-decoration: underline;
}

/* =======================================================*/
/*---------------Research Interests-----------------------*/
/*========================================================*/

#research {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 70vw;
    height: 600px;
    grid-column-start: 1;
    margin: -107px 0 0;
    padding: 107px 0 0;
    z-index: 5;
}
#research h2 {
    text-align: center;
    width: 100%;
    margin: 4vw 0 4vw 0;
}
#leuc01 {
    position: relative;
    top: -40px;
    left: -10vw;
    height: 110%;
    z-index: 2;
}
#researchText {
    position: absolute;
    max-width: 30vw;
    height: 81%; /* (parent div padding/specified height)-1  */
    padding: 0em 2vw 30px 3vw;
    right: 0px;
    background-color: white;
    z-index: 3;
}

/* =======================================================*/
/*--------------Publications Section----------------------*/
/*========================================================*/

#publications {
    display: block;
    position: relative;
    background-color: #808284;
    grid-column-end: span 2;
    width: 60vw;
    padding: 107px 5vw 8vw 5vw;
    margin: -107px 0 0;
    z-index: 4;
}
/* -- Alternate carousel button style (darker grays, more translucent
#carouselLeft {
    position: absolute;
    display: block;
    cursor: cell;
    background: gray;
    padding: 0;
    margin: 0;
    width: 75px;
    height: 75px;
    top: 420px;
    left: 2vw;
    z-index: 100;
    border: 1px solid darkgray;
    border-radius: 50%;
    opacity: 50%;
}  --  */
#carousel_NavLeft {
    position: absolute;
    display: block;
    cursor:cell;
    /*background-color: transparent;*/
    background: lightgray;
    padding: 0;
    margin: 0;
    width: 75px;
    height: 75px;
    top: 480px;
    left: 1.2vw;
    z-index: 100;
    border: none;
    border-radius: 50%;
    opacity: 30%;
    transition: all 500ms ease;
}
#carousel_NavLeft:hover {
    opacity: 60%;
    scale: 1.1;
    transition: all 300ms ease;
}
#inlineSVG_1 {
    opacity: 70%;
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-width: 7px;
}
#carousel_NavRight {
    position: absolute;
    display: block;
    cursor:cell;
    /*background-color: transparent;*/
    background: lightgray;
    padding: 0;
    margin: 0;
    width: 75px;
    height: 75px;
    top: 480px;
    right: 1.2vw;
    z-index: 100;
    border: none;
    border-radius: 50%;
    opacity: 30%;
    transition: all 500ms ease;
}
#carousel_NavRight:hover {
    opacity: 60%;
    scale: 1.1;
    transition: all 300ms ease;
}
#inlineSVG_2 {
    opacity: 70%;
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-width: 7px;
}
#publications button:active, #publications svg:active {
    scale: 0.9;
}
.pubLink {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    text-align: right;
    padding: 0 1.5vw 0 2.5vw;
    margin: 0 0 0 17vw;
}
.pubLink:hover {
    color: lightgray;
    box-shadow: 1px 1px 1px 1px black;
}
/*.pubLink::before {
    content: "";
    position: absolute;
    width: 0;
    height: 20px;
    border-bottom: 2px solid silver;
    opacity: 0;
    transition: all 0.3s ease;
}
.pubLink:hover::before {
    content: "";
    width: 16vw;
    height: 20px;
    border-bottom: 2px solid silver;
    opacity: 1;
    transition: all 0.4s ease;
}*/
#carouselWindow {
    display: block;
    position: relative;
    overflow: hidden;
    height: 450px;
    width: 60vw;
    /*margin-top: 2vw;*/
    z-index: 50;
    /*box-shadow: 4px 4px 20px inset;*/
    padding-top: 60px;
    border-top: 2px solid darkgray;
}
#carouselReel {
    display: inline-block;
    position: absolute;
    width: 2220px;
    height: 450px;
    overflow: hidden;
}
/*---Publication Tiles--------------------------------------------*/
#carouselReel a {
    display: block;
    height: 100%;
}
#carouselReel img {
    width: 100%;
}
.research1 {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 12px;
    transition: 0.5s ease;
}
.research1:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
}
.research1 .overlayTitle {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: center;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    /* white-space: nowrap; */
    position: absolute;
    overflow: hidden;
    top: 0;
    color: white;
    background-color: black;
    width: 180px;
    max-width: 180px;
    height: 180px;
    padding: 10px;
    -webkit-font-smoothing: subpixel-antialiased;
    backface-visibility: hidden;
}
.research1:hover .overlayTitle {
    opacity: 0.7;
    transition: 0.8s fade-in;
    -webkit-font-smoothing: subpixel-antialiased;
} 
/*#research2 {
    display: block;
    width: 160%;
}
#research3 {
    display: block;
    height: 100%;
}
#research4 {
    display: block;
    position: relative;
    left: -15px;
    height: 100%;
}
#research5 {
    display: block;
    position: relative;
    top: -4px;
    left: -25px;
    height: 103%;
}
#research6 {
    width: 110%;
    left: -10px;
    position: relative;
    top: -8px;
}
#research7 {
    height: 100%;
    position: absolute;
    right: -5px;
}
#research8 {
    width: 140%;
    left: -80px;
    position: relative;
}
#research9 {
    height: 100%;
    position: relative;
}
#research10 {
    height: 100%;
    position: relative;
}
#research11 {
    height: 100%;
}
#research12 {
    height: 110%;
}
#research13 {
    height: 100%;
    left: -30px;
    position: relative;
}
#research14 {
    height: 130%;
    left: -60px;
    position: relative;
}
#research15 {
    width: 100%;
    top: -100px;
    position: relative;
}
#research16 {
    height: 100%;
}
#research17 {
    height: 100%;
    position: relative;
    left: -40px;
}
#research18 {
    height: 105%;
}
#research20 {
    height: 100%;
    left: -50px;
    position: relative;
}*/

/* =======================================================*/
/*----------------Our Team Section------------------------*/
/*========================================================*/

#ourTeam {
    display: block;
    position: relative;
    width: 70vw;
    height: 100%;
    background-color: whitesmoke;
    grid-column-start: 1;
    grid-row-start: 4;
    margin: -107px 0 0;
    padding: 107px 0 0;
    z-index: 3;
}
#ourTeam h2, #news h2 {
    text-align: center;
    width: 100%;
}
.teamTop {
    display: inline-grid;
    position: relative;
    height: auto;
    width: 80vw;
    left: -5vw;
    background-color: white;
    z-index: 5;
    grid-template-columns: 40vw 40vw;
    /*box-shadow: 0px 8px 8px -4px black;*/
}
.teamTop img {
    width: 100%;
}
.filter {
    display: none;
}
.team {
    margin: auto;
    /*margin-left: 0;*/
    grid-column-start: 2;
}
#bailey {
    display: inline-flex;
    flex-direction: row;
    background-color: whitesmoke;
    width: 48vw;
    padding: 2vh;
    margin: 5vw 9vw 4vw 9vw;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}
.smallPic3 {
    display: flex;
    width: auto !important;
    margin-left: 0;
    min-height: 110px;
    padding-left: 25px;
}
.title {
    display: flex;
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 2;
    font-size: 1em;
    /*padding-left: 0;*/
}
.title2 {
    display: block;
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 3;
    padding-left: 6vw;
    padding: 4px 2vw 0 3vw;
    margin-bottom: 1.7vw;
}
.education1 {
    /*display: inline-block;
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 3;*/
    font-size: 0.75em;
    padding-bottom: 5px;
}
.specialty {
    display: block;
    font-size: 0.75em;
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 5;
}
.specialty2 {
    display: block;
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 5;
    padding: 0 0 0 4vw;
    max-width: 16vw;
}
.smallPic {
    max-height:100px;
    min-height:100px;
    margin: auto;
    grid-row-end: span 5;
}
.smallPic2 {
    max-height: 100px;
    vertical-align: top;
    /*margin-top: 1vw;*/
    /*max-width: 100px;*/
    margin: auto;
    border-radius: 50% 0;
}
/*--- delete below style??? ---*/
#ourTeam h1 {
    font-size: 250%;
    /*padding-top: 15px;*/
    text-align: center;
    margin: 0 0 0 5vw;
    padding: 10px 0 10px 0;
    width: 60vw;
    /*border-bottom: 10px solid gray;*/
}
.currentTeam {
    width: 100%;
    text-align: center;
    font-size: 1.7em;
    padding-bottom: 1.5vw;
    padding-left: 0;
}
.formerPost {
    display: inline-flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 10px 20px 20px 100px;
    width: 70vw;
    /*height: 25vh;*/
    vertical-align: top;
    align-content: center;
    justify-content: center;
    gap:3.5vw;
    /*margin-top: 1.5vw;*/
    /*margin-bottom: 4vw;*/
}
div.formerPost .title2 {
    vertical-align: top;
    margin: 0;
    padding: 0 0 8px 1vw;
    font-size: 0.95vw;
}
.studentList {
    display: inline-block;
    min-width: 25vw;
    max-width: 25vw;
    background-color:rgb(223, 223, 223);
    padding-left: 1vw;
}
.headingPost h2 {
    margin: 2vw 0 0 0;
    font-size: 1.7em;
}
.headingPost .studentList {
    display: grid;
    min-width: 25vw;
    max-width: 25vw;
    max-height: 20vw;
    min-height: 20vw;
    background-color: rgb(223, 223, 223);
    padding-left: 1vw;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1.2fr 1fr;
}
.headingPost .smallPic2 {
    margin: auto;
}
.headingPost .picText {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    justify-content: center;
}
.headingPost .specialty2 {
    display: block;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    padding: 0 15px 0 4vw;
    max-width: 25vw;
    font-size: 1.1vw;
}
.picText {
    display: inline-block;
    max-width: 20vw;
}
.picText h6 {
    text-align: center;
    padding-left: 15px;
}

#current {
    display: block;
    margin: 0.8vw 0 1vw 0;
    padding: 0;
    font-size: 1.6vw;
    text-align: center;
}
.currentStudents {
    display: inline-flex;
    width: 70vw;
    align-content: center;
    justify-content: center;
    gap: 5vw;
    /*margin-top: 1.5vw;*/
    margin-bottom: 4vw;
}
.studentName {
    font-size: 2.5vh;
    padding: 0 1vw 0.2vw 1vw;
}

/* =======================================================*/
/*------------------News Section--------------------------*/
/*========================================================*/

#news {
    display: block;
    position: relative;
    /*height: 100%;*/
    background-color: white;
    grid-column-start: 1;
    margin: -107px 0 0;
    padding: 112px 0 0;
    /*padding-top: 5vw;*/
    z-index: 2;
}
#news h1 {
    padding: 40px 0 25px 0;
}
#newsContainer {
    margin: 2vw 5vw 5vw 5vw;
    padding: 2vw 3vw 2vw 4vw;
    border: 1px solid darkgray;
    background-color: whitesmoke;
}
#newsContainer li {
    font-size: 1em;
}

/* =======================================================*/
/*------------------Alumni Section------------------------*/
/*========================================================*/

#alumni {
    display: block;
    position: relative;
    height: 100%;
    background-color: darkgray;
    grid-column-start: 1;
    margin: -107px 0 0;
    padding: 107px 0 3vw;
    z-index: 1;
}
#alumni h2 {
    text-align: center;
    width: 100%;
    /*margin: 3vw 0 3vw 0;*/
}
.headingPost {
    display: inline-flex;
    width: 60vw;
    background-color: silver;
    justify-content: center;
    flex-flow: wrap;
    gap: 2vw;
    margin: 0 5vw 0 5vw;
    padding: 0 0 30px;
    /* height: 6vw; */
    border: none;
    align-items: center;
}
.accordian {
    display: inline-flex;
    flex-direction: column;
    width: 60vw;
    margin: 0 5vw 0 5vw;
}
.accordian h2 {
    margin: 0;
    padding: 0;
}
.collapseButton {
    cursor: pointer;
    display: inline-flex;
    width: 60vw;
    background-color: silver;
    justify-content: center;
    flex-flow: wrap;
    gap: 2vw;
    margin: 3vw 0 0 0;
    height: 6vw;
    border: none;
    align-items: center;
}
.collapseButton:hover {
    /*margin-bottom: 10px;*/
    box-shadow: 0 3px 10px -8px black;
    outline: 2px solid gray;
    /*transition: 0.3s ease;*/
}
.expand_button {
    position: absolute;
    width: 2vw;
    margin-left: 54vw;
}
i {
    cursor: pointer;
    display: block;
}
.collapseButton > h2 {
    width: 100%;
    margin: auto !important;
    padding: 0;
    align-items: center;
    text-align: center;
}
.collapseBody {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: 30px solid lightgray;
}
.accordian person {
    max-width: 18vw;
    min-width: 18vw;
    padding: 1vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr 4fr;
    max-height: 17vw;
    min-height: 17vw;
    border: none;
    background-color: transparent;
}
.accordian img {
    margin: 0 0 0 0;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    max-height: 6vw;
    min-height: 6vw;
    justify-self: center;
    border-radius: 0 50%;
}
.accordian h3 {
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 0;
    margin-top: auto;
}
.accordian ul.title2 {
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 0.5em;
    margin: 0 0 auto 0;
}
.accordian ul.specialty2 {
    grid-column-start: 1;
    grid-row-start: 3;
    padding: 0;
    font-size: 0.95vw;
    height: auto;
}
/*.accordian2 {
    display: inline-flex;
    flex-direction: column;
    width: 60vw;
    margin: 0 5vw 0 5vw;
}*/
.collapseButton2 {
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    width: 60vw;
    background-color: silver;
    justify-content: center;
    margin: 3vw 0 0 0;
    height: 6vw;
    border: none;
    align-items: center;
}
.collapseButton2:hover {
    box-shadow: 0 3px 10px -8px black;
    outline: 2px solid gray;
    /*transition: 0.3s ease;*/
}
.collapseButton2 h2 {
    font-size: 1.9vw;
    width: auto;
    margin: 0;
    display: flex;
    height: 3.5vw;
    justify-content: center;
    align-items: center;
}
.collapseButton2 h3 {
    font-size: 1.5vw;
    color: gray;
    padding: 0 0 1vw 0;
}
.collapseBody2 {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: 30px solid lightgray;
    padding: 1.5vw;
}
.collapseBody2 ul {
    font-size: 1em;

}

/* =======================================================*/
/*------------------Funding Partners Section--------------*/
/*========================================================*/

#fundingPartners {
    display: grid;
    width: 62vw;
    grid-column-start: 1;
    background-color: gray;
    padding: 0 4vw 6vw;
    margin: 3vw 0 0;
    justify-content: space-evenly;
    align-items: center;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
}
#fundingPartners h4 {
    width: 100%;
    text-align: center;
    font-size: 1.7em;
    padding: 0;
    margin: 2vw 0 2vw;
    color: whitesmoke;
    text-shadow: 0 1px darkslategray;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: span 3;
    opacity: 0.9;
}
.first, .second, .third {
    grid-row-start: 2;
    margin: auto;
}
.first {
    max-height: 150px;
}
.second {
    max-height: 70px;
}
.third {
    max-height: 120px;
}

/* =======================================================*/
/*--------------------Footer------------------------------*/
/*========================================================*/

#footer {
    display: block;
    position: relative;
    width: 66vw;
    /*height: 20vw;*/
    padding: 3.5vw 2vw 6vw;
    background-color:darkgray;
    /*grid-template-columns: 6fr 5fr 5fr;*/
    grid-column-start: 1;
    color: whitesmoke;
    height: min-content;
}
#footer * {
    padding: 0;
    margin:0;
}
#footer h3, #footer h4, #footer a {
    color: whitesmoke !important;
    font-family: 'Roboto', sans-serif;
}
.footerHeadings {
    display: inline-grid;
    width: 66vw;
    grid-template-columns: 2fr 1fr;
}
#footer h4 {
    font-size: 1.3vw;
    font-weight: bold;
    width: auto;
    padding: 0 0 0 1.3vw;
    box-shadow: 0 1px lightgray;
    margin: 0 0 1.3vw 0;
    text-shadow: 1px 1px gray;
    grid-column-start:  1;
    grid-column-end: span 1;
    grid-row-start: 1;
}
#footer h4:nth-of-type(2) {
    grid-column-start: 2;
    margin-right: 1vw;
}
#footer h3 {
    font-size: 1.2vw;
}
#footerContent {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}
#footerContent h3:nth-of-type(2) {
    grid-column-start: 2;
    grid-row-start: 1;
}
#middle h3:nth-of-type(2) {
    /*padding-left: 2vw;*/
    font-size: 1.2vw;
}
#middle a {
    display: inline-flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    width: min-content;
}
#footer a {
    display: inline-flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
    width: min-content;
}
#footer a:hover {
    text-decoration: 2px solid darkgray;
}
.footerIndent {
    display: inline-block;
    width: 100%;
    padding-top: 3px !important;
    padding-left: 2vw !important;
    margin-bottom: 1.5vw !important;
}
#footerContent .footerIndent:first-of-type {
    grid-column-start: 1;
}
.footerIndent a {
    display: flex;
    flex-direction: column;
}
.footerIndent a:hover {
    text-decoration: underline;
}
.footerIndent img {
    max-height: 20px;
    margin-right: 6px !important;
}
.footerIndent ul:hover {
    text-decoration: underline;
    color: white;
}
.number {
    display: flex;
    align-items: center;
}
#middle {
    color: whitesmoke;
}
#middle > img {
    height: 20px;
    background: transparent;
}
#left > img {
    height: 4vw;
}
#footerContent > :nth-of-type(3) {
    width:100%;
}
#right {
    padding-right: 2vw;
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 3;
}
#right a {
    display: inline-flex;
    width: 100%;
    padding: 5px 0;
}
/*#right a:hover {
    color: gray;
    opacity: 0.8;
    text-shadow: 0 2px 2px 2px darkslategray;
}*/
#right a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 20px;
    border-bottom: 2px solid silver;
    opacity: 0;
    transition: all 0.3s ease;
}
#right a:hover::before {
    content: "";
    width: 16vw;
    height: 20px;
    border-bottom: 2px solid silver;
    opacity: 1;
    transition: all 0.4s ease;
}
.copyright {
    display: block;
    position: absolute;
    bottom: 25px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px purple;
    margin-left: 30px;
}
.copyright::before::after {
    content: "&#169 2020 ASC,LLC.";
}
.copyright::before {
    font-size: 16pt;
    background: -webkit-linear-gradient(rgb(3, 24, 218), rgb(160, 0, 160));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.copyright::after {
    color: radial(circle, rgb(160, 0, 160) 30%, rgb(3, 24, 218) 30%);
}

/*======================================================*/
/*--------------publications_full stlyes----------------*/
/*======================================================*/

#publicationListTop {
    display: block;
    width: 70vw;
    background-color: gray;
    padding: 107px 0 0 0;
}
#publicationListTop h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    color: whitesmoke;
}
#publicationListTop h3 {
    text-align: center;
    width: 100%;
    color: silver;
    padding: 0;
    margin-bottom: 4vw;
}
.publicationContent {
    display: grid;
    background-color: darkgray;
    padding: 0 4vw;
    margin-bottom: -3vw;
}
.mostRecent {
    display: inline-flex;
    flex-direction: column;
    width: 54vw;
    background-color: lightgray;
    font-size: 150px;
    color: lightgray;
    line-height: 0.5;
    font-family: 'Exo', sans-serif;
    padding: 26px 4vw;
    margin-top: 80px;
}
.yearHeadingTop {
    font-size: 75px;
    color: lightgray;
    line-height: 0.5;
    font-family: 'Exo', sans-serif;
    position: absolute;
    margin-top: -67px;
}
.publicationTile {
    display: inline-grid;
    background-color: whitesmoke;
    color: black;
    line-height: 1.5;
    padding: 1vw;
    margin-bottom: 10px
}
.publicationTile ul {
    font-size: 17px;
    margin: auto;
    text-indent: -30px;
    padding: 0 3vw 0 50px;
}
.publicationFrame {
    overflow: hidden;
    min-width: 100px;
    height: 100px;
    max-width: 100px;
    width: 100px;
    border: 1px solid darkgray;
}
.publicationFrame img {
    display: block;
    width: 100%;
    line-height: 0;
}
.allOthers {
    display: grid;
    position: relative;
    background-color: darkgray;
    padding: 0 4.5vw 5vw 2.5vw;
    color: lightgray;
    grid-template-columns: 30px auto;
}
.allOthers li {
    color: black;
    font-size: 15px;
    text-indent: -30px;
    list-style: none;
    padding-left: 20px;
}
.yearHeading {
    writing-mode: sideways-lr;
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    line-height: 1.45;
    width: min-content;
    display: block;
    position: relative;
    margin-right: -6px;
    text-align: right;
    /*text-shadow: 2px 2px 1.5px darkgray;*/
    padding-top: 2vw;
}
.yearGroup {
    background-color: lightgray;
    padding: 1vw 2vw 1vw 1vw;
    margin: 4px 0 4px 0;
}
.yearGroup a {
    border-radius: 5px;
    background-color: darkgray;
}
#buttonToTop {
    display: inline-block;
    position: fixed;
    bottom: 75px;
    right: 50px;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 3px 2px 0 darkgray;
    z-index: 10;
    opacity: 0;
    transition: all 0.4s ease;
}
.reveal {
    opacity: 1 !important;
}
#buttonToTop:hover {
    box-shadow: 0 6px 4px 0 darkgray;
    bottom: 78px;
    transition: all 0.2s ease;
}
#buttonToTop:active {
    background-color: white;
    box-shadow: 0 2px 4px 0 darkgray;
    bottom: 74px;
    transition: all 0.2s ease;
}
polygon {
    fill: lightgray;
    stroke: none;
    fill-rule: nonzero;
}
svg {
    transition: all 0.2s ease;
}
#buttonToTop svg:active {
    transform: scale(1.3);
    transform-origin: center;
    transition: all 0.2s ease;
}
}
/*===============================================================*/

/*==============================MOBILE===========================*/

/*===============================================================*/

/*@media only screen and (max-width:840px)*/
@media only screen and (max-width:599px) {
body {
    margin: 0;
    padding: 0;
}
h1, h2, h4 {
    font-family: 'Exo', sans-serif;
    text-transform: capitalize;
}
h1 {
    font-size: 38px;
    margin: auto;
    margin-left: -5px;
}
h2 {
    font-size: 42px;
    width: min-content;
    background-color: darkgray;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
ul {
    font-family: 'Roboto', sans-serif;
}
#header {
    height: 80px;
    background-color: white;
    box-shadow: 1px 2px 8px black;
    display: block;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 8;
}
#header a {
    text-decoration: none;
    color: black;
}
#nmsu {
    display: inline-grid;
    scale: 0.6;
    position: absolute;
    align-content: center;
    height: 80px;
}
#top {
    display: inline-grid;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.nmsuBIO {
    /*display: grid;*/
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    scale: 0.6;
}
#mobileMenu {
    width: 50px;
    height: 50px;
    display: block;
    background-color: whitesmoke;
    position: absolute;
    top: 15px;
    right: 15px;
    outline: 1px solid lightgray;
    outline-offset: -4px;
}
#mobileMenu svg {
    color: gray;
    fill: darkgray;
}
.menuButtonOpen {
    background-color: gray !important;
}
.menuClosed {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 10px 10px 40px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    position: absolute;
    top: 65px;
    right: 15px;
    width: 150px;
    height: 350px;
    opacity: 0;
    transition: all 0.4s ease;
}
.menuClosed .button {
    /*background-color: transparent;*/
    width: 150px;
    height: 20px;
    transition: all 0.7s ease;
}
.menuClosed a {
    display: none;
    transition: all 0.4s ease;
}
.menuOpen {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px 30px 10px 30px;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0 40px 80px 2px black;
    top: 65px;
    right: 15px;
    margin: 0;
    width: 150px;
    height: 350px;
    opacity: 1;
    justify-content: center;
    transition: all 0.4s ease;
}
.menuOpen .button {
    display: grid;
    background-color: lightgray;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    transition: all 0.7s ease;
}
.menuOpen a {
    display: block;
    text-decoration: none;
    transition: all 1s ease;    
}
.button {
    font-family: 'Biryani', sans-serif;
}
.scroll_area {
    padding: 0 15px;
    width: auto;
    overflow: hidden;
}
/*====================================================*/
/*--------------WELCOME - MOBILE----------------------*/
/*====================================================*/
#welcome {
    width: 100%;
    display: grid;
    margin-top: -80px;
    z-index: 5;
    position: relative;
    padding-top: 160px;
}
.welcomeSub {
    position: relative;
    grid-row-start: 1;
    background-color: lightgray;
    /*opacity: 0.8;*/
    z-index: 6;
    margin-top: 15px;
    top: 280px;
    /*border-radius: 4px;*/
    padding: 0 15px 15px;
}
.welcomeSub h2 {
    left: -15px;
    position: absolute;
    padding: 0 10px;
    top: -60px;
}
.welcomeText {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-top: 50px;
    font-size: 16px;
}
#introPic {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
}
#foster {
    width: 130%;
    right: -75px;
    position: absolute;
    top: 80px;
}
@media only screen and (min-width:450px) {
    #foster {
        /*width: 130%;*/
        right: -15px;
        position: absolute;
        top: 80px;
        height: 90vw;
        max-height: 600px;
    }
    .welcomeSub {
        top: 280px;
    }
}
@media only screen and (min-width:675px) {
    .welcomeSub {
        opacity: 0.8;
    }
}
/*==================================================*/
/*----------------RESEARCH - MOBILE-----------------*/
/*==================================================*/
#research {
    top: 240px;
    position: relative;
}
#researchText {
    position: relative;
    /*top: 290px;*/
    top: 80vw;
    z-index: 1;
    /*padding-top: 10px;*/
}
#researchText h2 {
    /*top: -85px;*/
    position: relative;
    width: 95.5%;
    font-size: 32px;
    background-color: lightgray;
    /*margin: 0 0 30px;*/
    margin: 0 0 15vw;
    padding-left: 30px;
    right: -15px;
}
#researchText p {
    margin: 6vw 0;
}
#leuc01 {
    width: 140%;
    left: -100px;
    position: absolute;
    top: 0px;
    z-index: 0;
}
/*===================================================*/
/*-------------PUBLICATIONS - MOBILE-----------------*/
/*===================================================*/
#publications {
    position: relative;
    top: 600px;
    margin-top: -80px;
    padding-top: 80px;
    height: 550px;
}
#publications button {
    display: none;
}
#publications h2 {
    margin: 0;
    padding: 10px 30px 20px;
    left: -15px;
    position: relative;
    z-index: 3;
}
#publications h2::before {
    content: "recent ";
    font-size: 30px;
}
#publications a {
    position: relative;
    height: 200px;
    width: 200px;
}
#publications img {
    /*max-width: 150px;
    max-height: 150px;*/
    width: 100%;
    object-fit: contain;
}
.pubLink {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    position: absolute !important;
    top: 535px;
    right: -15px;
    background-color: gray;
    color: whitesmoke;
    padding: 15px 15px;
    z-index: 3;
    height: auto !important;
}
#carouselWindow {
    margin-top: 30px;
    /*overflow: hidden;*/
    height: 320px;
    display: block;
    z-index: 2;
    position: relative;
    top: -160px;
    padding-top: 140px;
    margin-bottom: 50px;
    background-color: lightgray;
}
#carouselReel {
    position: absolute;
    z-index: 3;
    display: inline-flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 110%;
    /*left: -15px;*/
    height: 275px;
    overflow-y: hidden;
    margin-left: -15px;
}
.research1 {
    position: relative;
    display: grid;
    margin: auto 5px;
    box-shadow: 3px 3px 0 0 darkgray;
}
.overlayTitle {
    display: grid;
    position: absolute;
    /*opacity: 0.5;*/
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(0,0,0,0.5);
    overflow: hidden;
    z-index: 4;
    top: 0;
    height: 170px;
    padding: 15px;
    align-items: center;
    text-align: center;

}
/*=====================================================*/
/*---------------OUR TEAM - MOBILE---------------------*/
/*=====================================================*/
#ourTeam {
    /*width: 80%;
    overflow: hidden;*/
    position: relative;
    top: 650px;
    margin-top: -80px;
    padding-top: 80px;
}
.teamTop {
    height: 258px;
}
.teamTop img {
    position: relative;
    left: -15px;
    max-width: 109%;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('images\bailey_lab2019.jpg');*/
}
.filter {
    display: block;
    background-color: rgb(0,0,0,0.3);
    width: 109%;
    height: 225px;
    position: absolute;
    left: -15px;
    z-index: 1;
}
.teamTop h2 {
    position: relative;
    top: -50px;
    margin: 0;
    width: 100%;
    height: 80px;
    align-content: center;
    text-align: center;
    display: grid;
    left: -15px;
    background-color: lightgray;
}
.team {
    z-index: 3;
}
#bailey {
    padding: 15vw 0;
}
#bailey div {
    margin-top: 7vw;
}
#bailey img {
    position: absolute;
    max-width: 100px;
}
#bailey h4 {
    position: relative;
    left: 120px;
    margin: 15px 0;
    font-size: 16pt;
}
#bailey .title {
    position: relative;
    left: 120px;
    margin: 10px 0;
    padding: 0;
    width: 70%;
    font-size: 14px;
    font-weight: bold;
}
#bailey .education1, #bailey .specialty {
    position: relative;
    padding: 0 25px 0;
    margin: 20px 0;
    font-size: 14px;
}
#current {
    margin: 0 0 15px;
}
.currentTeam {
    position: relative;
    top: 0;
    text-transform: capitalize;
    font-size: 16pt;
    text-align: center;
    margin: 10px 0;
}
.currentStudents {
    position: relative;
    top: 0;
    padding: 0 15px;
}
.currentStudents .title2 {
    position: relative;
    padding: 0 0 10px 25px !important;
}
.studentList {
    padding: 15px 15px 20px;
    background-color: whitesmoke;
    margin-bottom: 15px;
}
.studentName {
    font-size: 17px !important;
    margin: 15px 0 10px 0 !important;
}
.studentList ul {
    font-size: 15px;
    margin: 0;
    padding: 5px 0 5px 10px;
}
.studentList h4 {
    margin: 0 0 15px;
}
/*===================================================*/
/*------------------NEWS - MOBILE--------------------*/
/*===================================================*/
#news {
    position: relative;
    top: 680px;
    margin-top: -80px;
    padding-top: 80px;
}
#news h2 {
    margin: 20px 0;
    width: inherit;
    padding: 10px;
    font-size: 28px;
    text-align: center;
}
#newsContainer {
    padding: 10px 10px 20px 30px;
    background-color: whitesmoke;
    outline: 2px solid lightgray;
    outline-offset: -2px;
    font-family: 'Roboto', sans-serif;
}
#newsContainer li {
    padding-bottom: 15px;
    text-indent: -10px;
    list-style-type: none;
}
/*=================================================*/
/*--------------ALUMNI - MOBILE--------------------*/
/*=================================================*/
#alumni {
    position: relative;
    top: 740px;
    margin-top: -80px;
    padding-top: 80px;
}
#alumni h2 {
    width: 200px;
    text-align: center;
    margin: 20px auto 0;
}
.headingPost {
    background-color: silver;
}
.headingPost h2 {
    background-color: transparent;
    width: 250px;
    font-size: 18pt;
}
.headingPost img {
    border-radius: 50% 0;
    position: relative;
    width: 20vw;
    left: 58vw;
    top: 5vw;
}
.headingPost .studentList {
    background-color: darkgray;
    padding-left: 10vw;
}
.picText {
    position: relative;
    top: -80px;
}
.picText h6 {
    position: absolute;
    margin: 0 20px 15px 0;
    font-size: 14pt;
    font-family: 'Exo', sans-serif;
    width: 100%;
}
#alumni .title2 {
    position: relative;
    top: 60px;
    width: 150px;
    padding: 0;
}
.accordian {
    display: inline-flex;
}
.collapseButton, .collapseButton2 {
    display: flex;
    width: 100%;
    height: 20vw;
    background-color: silver;
}
.collapseButton h2 {
    background-color: transparent;
    width: 80%;
    font-size: 18pt;
    margin: auto;
}
.expand_button {
    display: inline-flex;
    height: 40%;
    margin: auto;
}
/*==========================================================*/
/*-----------------PARTNERS - MOBILE------------------------*/
/*==========================================================*/
#fundingPartners {
    width: 80%;
    overflow: hidden;
    position: relative;
    top: 850px;
    margin-top: -80px;
    padding-top: 80px;
    background-color: gray;
    left: -15px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    display: grid;
}
.first {
    height: 175px;
}
.second {
    height: 80px;
}
.third {
    height: 150px;
}
/*======================================================*/
/*-----------------FOOTER - MOBILE----------------------*/
/*======================================================*/
#footer {
    position: relative;
    top: 850px;
    display: grid;
}
}
/*====TABLET====*/
@media only screen and (max-width: 1024px) and (min-width: 600px) {}